.editor-image-lightbox {
  &.editor-align-justify {
    img {
      width: 100%;
    }
  }

  &.editor-align-left {
    float: left;
    width: 40%;

    img {
      width: 100%;
    }
  }

  &.editor-align-center {
    margin: auto;
    width: 60%;

    img {
      width: 100%;
    }
  }

  &.editor-align-right {
    float: right;
    width: 40%;

    img {
      width: 100%;
    }
  }
}
