/* Style the Image Used to Trigger the Modal */
.editor-image-lightbox {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  display: block !important; /* Override third-party [role=button] styles */
  max-width: none !important; /* Override third-party [role=button] styles */
  -webkit-tap-highlight-color: transparent;

  &:hover,
  &:focus-within, /* needed as the focus is on the img tag inside the figure with class name "editor-image-lightbox" */
  &:focus {
    opacity: 0.7;
  }

  .lightbox-fullscreen-icon {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 20px;
    height: 20px;
    background-color: #000000e6; /* Black w/ opacity */
    border-radius: 50%;
    color: #e3e3e3;
    fill: currentcolor;
    transition: 0.3s;
    pointer-events: none;
  }
}

body.lightbox-open {
  overflow: hidden;
}

/* The Modal (background) */
#lightbox-modal {
  display: none; /* Hidden by default */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed; /* Stay in place */
  z-index: 2147483647; /* Set to max value as lightbox should always sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #000000e6; /* Black w/ opacity */

  &.lightbox-open {
    display: flex;
  }

  &:hover {
    cursor: pointer;
  }
}

#lightbox-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-height: 90vh;
  overflow: auto;
}

/* Modal Content (Image) */
#lightbox-img {
  max-width: 80%;
  max-height: 80vh;
  object-fit: contain;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#lightbox-caption {
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  max-height: 20vh;
}

/* Add Animation - Zoom in the Modal */
#lightbox-img,
#lightbox-caption {
  animation-name: lightbox-zoom;
  animation-duration: 0.15s;
}

@keyframes lightbox-zoom {
  from { 
    transform: scale(0); 
    opacity: 0; 
  }
  
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* The Close Button */
#close-lightbox-modal {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  background: none;
  border: none;
  width: 4rem;
  height: 4rem;
  padding: 0;
  margin: 0;
  cursor: pointer;

  &:hover,
  &:focus {
    color: #bbb;
    text-decoration: none;
    transform: rotate(90deg);
    transform-origin: center;
  }
}

/* 95% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  #lightbox-img, #lightbox-caption {
    max-width: 95%;
  }
}
